<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.yl.sampledemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 仅网络定位的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 音频管理权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 开机时系统发出的开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sample.yl.sampledemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bannerimage.BannerActivity" />
        <activity android:name=".timepicker.TimePickerActivity" />
        <activity android:name=".bottomtabbar.BottomTableBarActivity" />
        <activity android:name=".textdome.TvSpanDome" />
        <activity android:name=".immersionbar.Main2Activity" />
        <activity android:name=".immersionbar.BackActivity" />
        <activity android:name=".immersionbar.CoordinatorActivity" />
        <activity android:name=".immersionbar.PicAndColorActivity" />
        <activity android:name=".loadingdrawable.AnimalActivity" />
        <activity android:name=".loadingdrawable.CircleJumpActivity" />
        <activity android:name=".loadingdrawable.CircleRotateActivity" />
        <activity android:name=".loadingdrawable.GoodsActivity" />
        <activity android:name=".loadingdrawable.MainLoadingActivity" />
        <activity android:name=".loadingdrawable.SceneryActivity" />
        <activity android:name=".loadingdrawable.ShapeChangeActivity" />
        <activity android:name=".loadingdrawable.DialogLoadingActivity" />
        <activity android:name=".imageselector.PictureSelectorActivity" />
        <activity android:name=".androidtools.ToolsActivity" />
        <activity android:name=".gpslocation.GpsLocActivity" />
        <activity android:name=".getmodleisnull.IsDataEmptyActivity" />
        <activity android:name=".eventbus.two.EvenBusDemo" />
        <activity android:name=".eventbus.two.SecondActivity" />
        <activity android:name=".dragbubbleview.BubbleViewActivity" />
        <activity android:name=".popupindow.PopupActivity" />
        <activity android:name=".audiomanager.AudioManagerActivity" />
        <activity android:name=".brvah.BaseRvAdapterActivity" />
        <activity android:name=".retrofit.Retrofit2Activity" />
        <activity android:name=".retrofit.GlideImgActivity" />
        <activity android:name=".retrofitdownload.RetrofitDownloadActivity" />

        <service android:name=".retrofitdownload.MyIntentService" />

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>

                <!-- 静态注册开机广播地址 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".progress.ProgressBarActivity" />
        <activity android:name=".rxjava2.RxJava2Demo" />
        <activity android:name=".tts.TextToSpeechActivity" />
        <activity android:name=".autoedittext.AutoEditTextActivity" />
        <activity android:name=".svg.SvgDemoActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".foregroundservice.ForegroundActivity" />

        <service android:name=".foregroundservice.ForegroundService" />
    </application>

</manifest>